[submodule "emitter_signal"]
	path = emitter_signal
	url = git@github.com:cloudjubei/BlackSwanSignalEmitter.git
	ignore = dirty
[submodule "emitter_price"]
	path = emitter_price
	url = git@github.com:cloudjubei/BlackSwanPriceEmitter.git
	ignore = dirty
[submodule "trading_bot"]
	path = trading_bot
	url = git@github.com:cloudjubei/BlackSwanTradingBot.git
	ignore = dirty

[submodule "temp_emitter_price"]
	path = temp_emitter_price
	url = git@github.com:KamilMatejuk/BlackSwanTempPriceEmitter.git
	ignore = dirty
[submodule "model_basic"]
	path = model_basic
	url = git@github.com:KamilMatejuk/BlackSwanModelBasic.git
	ignore = dirty
